@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  content: " ";
  display: table; }

.container:after,
.row:after,
.col:after {
  clear: both; }

.container {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto; }

.col {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666666666666%; }

.col-10 {
  width: 83.33333333333334%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666666666666%; }

.col-7 {
  width: 58.333333333333336%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666666666667%; }

.col-4 {
  width: 33.33333333333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666666666666664%; }

.col-1 {
  width: 8.333333333333332%; }

@media (max-width: 720px) {
  .container {
    padding: 0 10px; }

  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    width: 100%; } }
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff2") format("woff2"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.woff") format("woff"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff2") format("woff2"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.woff") format("woff"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local("Spoqa Han Sans Light"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff2") format("woff2"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.woff") format("woff"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.woff2") format("woff2"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.woff") format("woff"), url("https://cdn.rawgit.com/spoqa/spoqa-han-sans/212c9818/Subset/SpoqaHanSans/Spoqa%20Han%20Sans%20Thin.ttf") format("truetype"); }
body {
  font-family: 'Spoqa Han Sans', Sans-serif;
  font-size: 14px;
  letter-spacing: -.015em;
  word-spacing: .09em;
  word-break: keep-all;
  color: #222; }

h1 {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: -.03em; }

h2 {
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -.03em; }

h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -.02em; }

h4 {
  font-weight: 700;
  font-size: 17px; }

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75em; }

body {
  padding-bottom: 500px; }

/*******************************
          Web Layout
*******************************/
.side-nav {
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  padding-top: 60px;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #999; }
  .side-nav li.on > a {
    font-weight: 500;
    color: #42c49d; }
  .side-nav li.on > ul {
    display: block; }
  .side-nav li.on > ul > li.on a {
    font-weight: 300; }
  .side-nav li > ul {
    display: none;
    padding-left: 18px; }
  .side-nav a {
    display: inline-block;
    margin: 8px 0;
    color: #999; }

@media (max-width: 1560px) {
  .side-nav {
    display: none; } }
.section {
  padding: 100px 0 130px; }
  .section-title {
    margin-bottom: 30px; }

.content-wrapper {
  margin-top: 20px; }
.content-title {
  display: inline-block;
  margin-top: 70px;
  font-weight: 700;
  color: #222; }
.content-description {
  margin-top: 6px; }
.content-example {
  margin-top: 12px; }

.inline-box {
  display: inline-block;
  padding: 2px 6px;
  background-color: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

hr {
  margin: 10px 0;
  border: 1px solid #dedede;
  border-bottom: 0; }

/*--- 색상 ---*/
.color-card-container {
  margin-top: 40px; }
.color-card-wrapper:nth-child(3n+1) {
  padding: 0;
  padding-right: 20px; }
.color-card-wrapper:nth-child(3n+2) {
  padding: 0 10px; }
.color-card-wrapper:nth-child(3n+3) {
  padding: 0;
  padding-left: 20px; }
.color-card-wrapper:nth-child(n+4) {
  margin-top: 20px; }
.color-chip {
  height: 180px;
  padding: 24px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
.color-info {
  margin: 20px 26px;
  text-align: left;
  font-weight: 300; }
  .color-info-title {
    width: 90px;
    padding: 6px 0;
    color: #666; }

.green.color-chip {
  background-color: #4adaaf; }

.hover-green.color-chip {
  background-color: #42c49d; }

.press-green.color-chip {
  background-color: #3db591; }

.red.color-chip {
  background-color: #ff6699; }

.yellow.color-chip {
  background-color: #ffff66;
  color: #666; }

.black.color-chip {
  background-color: #222; }

.hover-black.color-chip {
  background-color: #393939; }

.press-black.color-chip {
  background-color: #4a4a4a; }

.dark-gray.color-chip {
  background-color: #666; }

.medium-gray.color-chip {
  background-color: #999; }

.light-gray.color-chip {
  background-color: #ccc; }

.border.color-chip {
  background-color: #dedede;
  color: #666; }

/*--- 타이포그래피 ---*/
.typo-headline {
  min-height: 120px;
  padding: 25px;
  background-color: #f7f7f7; }
  .typo-headline-wrapper:first-child {
    padding: 0;
    padding-right: 20px; }
  .typo-headline-wrapper {
    padding: 0 10px; }
  .typo-headline-wrapper:last-child {
    padding: 0;
    padding-left: 20px; }
.typo-content {
  font-weight: 700;
  color: #222; }
.typo-description {
  position: absolute;
  bottom: 25px;
  font-size: 13px;
  font-weight: 300;
  color: #999; }
.typo-body > p {
  font-weight: 300; }
.typo-body {
  min-height: 135px;
  padding: 25px 18px;
  background-color: #f7f7f7; }
  .typo-body-wrapper:first-child {
    padding: 0;
    padding-right: 20px; }
  .typo-body-wrapper {
    padding: 0 10px; }
  .typo-body-wrapper:last-child {
    padding: 0;
    padding-left: 20px; }

/*******************************
           타이포그래피
*******************************/
.body1 {
  font-size: 14px; }

.body2 {
  font-size: 13px; }

.caption {
  font-size: 12px; }

/*******************************
              버튼
*******************************/
/*--------------
      스타일
---------------*/
.button {
  cursor: pointer;
  display: inline-block;
  min-width: 120px;
  padding: 0 24px;
  outline: none;
  border: none; }

.ghost.button {
  background-color: transparent; }

/*--------------
       색상
---------------*/
/*--- Green ---*/
.green.button {
  background-color: #4adaaf;
  color: #fff; }

.green.button:hover {
  background-color: #42c49d; }

.green.button:active {
  background-color: #3db591; }

/* Ghost */
.ghost.green {
  background-color: transparent;
  border-color: #4adaaf;
  color: #4adaaf; }

.ghost.green:hover {
  background-color: transparent;
  border-color: #42c49d;
  color: #42c49d; }

.ghost.green:active {
  background-color: transparent;
  border-color: #3db591;
  color: #3db591; }

/*--------------
       크기
---------------*/
/*--- Basic ---*/
.extralarge.button {
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.large.button {
  height: 44px;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.medium.button {
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.small.button {
  height: 26px;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.extrasmall.button {
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/*--- Ghost ---*/
.ghost.extralarge {
  border: 2px solid; }

.ghost.large {
  border: 2px solid; }

.ghost.medium {
  border: 2px solid; }

.ghost.small {
  border: 1px solid; }

.ghost.extrasmall {
  border: 1px solid; }

/*******************************
           페이지네이션
*******************************/
.pagenation .active a {
  border: none;
  color: white;
  background-color: #4adaaf; }
  .pagenation .active a:hover {
    background-color: #42c49d; }
  .pagenation .active a:active {
    background-color: #3db591; }
.pagenation li a {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #222;
  border: 1px solid #dedede;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px; }
  .pagenation li a:hover {
    background-color: #f5f5f5; }

.ic-arrow_left-gray {
  display: inline-block;
  width: 12px;
  height: 9px;
  background-position: -5px -5px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat; }

.ic-arrow_right-gray {
  display: inline-block;
  width: 12px;
  height: 9px;
  background-position: -27px -5px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat; }

/*******************************
               탭
*******************************/
.tab {
  display: inline-block;
  float: left;
  height: 48px;
  border-bottom: 1px solid #dedede; }
  .tab .active a {
    font-weight: 700;
    border-bottom: 2px solid #4adaaf;
    color: #4adaaf; }
    .tab .active a:hover {
      color: #42c49d; }
    .tab .active a:active {
      color: #3db591; }
  .tab .disabled a {
    color: #ccc; }
    .tab .disabled a:hover {
      color: #ccc; }
  .tab li {
    float: left;
    margin: 0 14px; }
  .tab li a {
    display: inline-block;
    height: 48px;
    padding: 0 10px;
    color: #666;
    line-height: 44px; }
    .tab li a:hover {
      color: #222; }

/*# sourceMappingURL=default.css.map */
