/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:before,
.container:after,
.row:before,
.row:after,
.col:before,
.col:after {
  content: " ";
  display: table; }

.container:after,
.row:after,
.col:after {
  clear: both; }

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto; }

.col {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666666666666%; }

.col-10 {
  width: 83.33333333333334%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666666666666%; }

.col-7 {
  width: 58.333333333333336%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666666666667%; }

.col-4 {
  width: 33.33333333333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666666666666664%; }

.col-1 {
  width: 8.333333333333332%; }

body {
  font-family: 'Apple SD Gothic Neo', Sans-serif;
  font-size: 14px;
  word-break: keep-all;
  color: #222; }

h1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h2 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -.03em; }

h3 {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -.02em; }

h4 {
  font-weight: 700;
  font-size: 20px; }

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.65em; }

/*******************************
          Web Layout
*******************************/
.section-description {
  margin-top: 6px; }

.component-container {
  margin-top: 30px; }
.component-wrapper {
  position: relative;
  height: 100%;
  display: inline-block;
  float: left;
  min-height: 1px; }
.component-title {
  padding: 6px 0;
  font-weight: 500;
  font-size: 14px;
  color: #999; }

/*--------------
      Intro
---------------*/
.section-intro {
  padding: 80px 0px 110px; }

.header-intro {
  font-weight: 500;
  font-size: 40px; }

/*--------------
    Button-size
---------------*/
.component-wrapper.button-size {
  width: 20%; }

/*******************************
            Button
*******************************/
.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 24px;
  outline: none;
  border: none; }

/*--------------
      Color
---------------*/
.green.button {
  background-color: #4adaaf;
  color: #fff; }

.green.button:hover {
  background-color: #42c49d; }

.green.button:active {
  background-color: #3db591; }

/*--------------
      Size
---------------*/
.extralarge.button {
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.large.button {
  height: 44px;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.medium.button {
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.small.button {
  height: 26px;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.extrasmall.button {
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/*# sourceMappingURL=default.css.map */
