$black: #222;
$hover-black: #393939;
$press-black: #4a4a4a;

$dark-gray: #666;
$medium-gray: #999;
$light-gray: #ccc;
$border: #dedede;
$white: #fff;

$green: #4adaaf;
$hover-green: #42c49d;
$press-green: #3db591;

$red: #ff6699;
$yellow: #ffff66;
