@import 'reset';
@import 'grid';
@import 'color';
@import 'type';
@import 'mixin';

/*******************************
          Web Layout
*******************************/

.side-nav {
  position: fixed;
  width: 270px;
  height: 100%;
  padding-top: 60px;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 300;
  color: $medium-gray;
  .on {
    display: block;
    font-weight: 500;
    color: $hover-green;
  }
  ul > li > ul {
    display: none;
    padding-left: 20px;
  }
  a {
    display: inline-block;
    margin: 8px 0;
  }
}

.section {
  padding: 60px 0;
  &-title { margin-bottom: 40px; }
}

.content {
  &-title {
    margin-bottom: 20px;
    font-weight: 500;
    color: $black;
  }
}

.inline-box {
  display: inline-block;
  padding: 2px 6px;
  background-color: #f5f5f5;
  @include border-radius(3px);
}

// 옛날 코드랑 분리



// hr {
//   margin: 10px 0;
//   border: 1px solid $border;
//   border-bottom: 0;
// }

// .section {
//   padding: 60px 0;
//   &-title {
//     display: block;
//     width: 100%;
//     font-size: 22px;
//   }
//   &-description {
//     margin-top: 6px;
//     font-size: 16px;
//     color: $dark-gray;
//   }
// }

// .component {
//   &-container {
//     margin-top: 30px;
//   }
//   &-wrapper {
//     position: relative;
//     width: 20%;
//     height: 100%;
//     display: inline-block;
//     float: left;
//     min-height: 1px;
//   }
//   &-title {
//     padding: 8px 0;
//     font-weight: 700;
//     font-size: 14px;
//     color: $medium-gray;
//   }
// }

// .component-title.typo {
//   padding: 8px 0 16px;
// }

// /*--- Intro ---*/

// .section.intro {
//   padding: 130px 0px 40px;
// }

// .header.intro {
//   font-weight: 500;
//   font-size: 40px;
// }

// /*--- Color-scheme ---*/

// .component-container.color-scheme{ margin-top: 15px; }

// .component-wrapper.color-scheme {
//   width: 33.3333%;
//   padding: 15px 0;
//   padding-right: 30px;
// }

// .color {
//   &-chip { border: 1px solid $border; }
//   &-name {
//     height: 180px;
//     padding: 24px;
//     color: white;
//     font-weight: 700;
//     font-size: 16px;
//   }
//   &-info {
//     margin: 12px 26px;
//     text-align: left;
//     &-title {
//       width: 90px;
//       padding: 6px 0;
//       color: $dark-gray;
//     }
//   }
// }

// .green.color-name { background-color: $green; }
// .hover-green.color-name { background-color: $hover-green; }
// .press-green.color-name { background-color: $press-green; }
// .red.color-name { background-color: $red; }
// .yellow.color-name { background-color: $yellow; color: $dark-gray; }

// .black.color-name { background-color: $black; }
// .hover-black.color-name { background-color: $hover-black; }
// .press-black.color-name { background-color: $press-black; }

// .dark-gray.color-name { background-color: $dark-gray; }
// .medium-gray.color-name { background-color: $medium-gray; }
// .light-gray.color-name { background-color: $light-gray; }
// .border.color-name { background-color: $border; color: $dark-gray; }

// /*--- Typo-headline ---*/

// .typo-headline.component-wrapper {
//   width: 25%;
// }


// /*--- Typo-body ---*/

// .typo-body.component-wrapper {
//   width: 33.33333%;
//   padding-right: 40px;
// }


// /*******************************
//               Typo
// *******************************/

// .body1 { font-size: 14px; }
// .body2 { font-size: 13px; }
// .caption { font-size: 12px; }

// /*******************************
//             Button
// *******************************/

// /*--------------
//       Style
// ---------------*/

// .button {
//   cursor: pointer;
//   display: inline-block;
//   padding: 0 24px;
//   outline: none;
//   border: none;
// }

// .ghost.button {
//   background-color: transparent;
// }


// /*--------------
//       Color
// ---------------*/

// /*--- Green ---*/

// .green.button {
//   background-color: $green;
//   color: $white;
// }
// .green.button:hover { background-color: $hover-green; }
// .green.button:active { background-color: $press-green; }

// /* Ghost */

// .ghost.green {
//   background-color: transparent;
//   border-color: $green;
//   color: $green;
// }
// .ghost.green:hover {
//   background-color: transparent;
//   border-color: $hover-green;
//   color: $hover-green;
// }

// .ghost.green:active {
//   background-color: transparent;
//   border-color: $press-green;
//   color: $press-green;
// }

// /*--- White ---*/





// /*--------------
//       Size
// ---------------*/

// /*--- Basic ---*/

// .extralarge.button {
//   height: 50px;
//   font-weight: bold;
//   font-size: 16px;
//   @include border-radius(6px);
// }

// .large.button {
//   height: 44px;
//   font-weight: bold;
//   font-size: 14px;
//   @include border-radius(6px);
// }

// .medium.button {
//   height: 34px;
//   font-weight: bold;
//   font-size: 14px;
//   @include border-radius(6px);
// }

// .small.button {
//   height: 26px;
//   font-weight: bold;
//   font-size: 12px;
//   @include border-radius(6px);
// }

// .extrasmall.button {
//   height: 20px;
//   font-weight: bold;
//   font-size: 12px;
//   @include border-radius(6px);
// }

// /*--- Ghost ---*/

// .ghost.extralarge { border: 2px solid; }
// .ghost.large { border: 2px solid; }
// .ghost.medium { border: 2px solid; }
// .ghost.small { border: 1px solid; }
// .ghost.extrasmall { border: 1px solid; }


















