@import 'reset';
@import 'grid';
@import 'color';
@import 'type';
@import 'mixin';

.omg { background-color: red !important;  }

/*******************************
          Web Layout
*******************************/

.side-nav {
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  padding-top: 60px;
  padding-left: 50px;
  font-size: 14px;
  font-weight: 300;
  color: $medium-gray;
  .on a {
    font-weight: 500;
    color: $hover-green !important;
  }
  ul > li > ul {
    display: none;
    padding-left: 20px;
  }
  a {
    display: inline-block;
    margin: 8px 0;
    color: $medium-gray;
  }
}

@include respond-to('wide') {
  .side-nav { display: none; }
}


.section {
  padding: 100px 0 130px;
  &-title { margin-bottom: 30px; }
}

.content {
  &-wrapper { margin-top: 20px; }
  &-title {
    display: inline-block;
    margin-top: 70px;
    font-weight: 700;
    color: $black;
  }
  &-description {
    margin-top: 6px;
  }
}

.inline-box {
  display: inline-block;
  padding: 2px 6px;
  background-color: #f5f5f5;
  @include border-radius(3px);
}

hr {
  margin: 10px 0;
  border: 1px solid $border;
  border-bottom: 0;
}

/*--- 색상 ---*/

.color {
  &-card {
    &-container { margin-top: 40px; }
    &-wrapper:nth-child(3n+1) { padding: 0; padding-right: 20px; }
    &-wrapper:nth-child(3n+2) { padding: 0 10px; }
    &-wrapper:nth-child(3n+3) { padding: 0; padding-left: 20px; }
    &-wrapper:nth-child(n+4) { margin-top: 20px; }
  }
  &-chip {
    height: 180px;
    padding: 24px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    @include border-radius(6px);
  }
  &-info {
    margin: 20px 26px;
    text-align: left;
    font-weight: 300;
    &-title {
      width: 90px;
      padding: 6px 0;
      color: $dark-gray;
    }
  }
}

.green.color-chip { background-color: $green; }
.hover-green.color-chip { background-color: $hover-green; }
.press-green.color-chip { background-color: $press-green; }
.red.color-chip { background-color: $red; }
.yellow.color-chip { background-color: $yellow; color: $dark-gray; }

.black.color-chip { background-color: $black; }
.hover-black.color-chip { background-color: $hover-black; }
.press-black.color-chip { background-color: $press-black; }

.dark-gray.color-chip { background-color: $dark-gray; }
.medium-gray.color-chip { background-color: $medium-gray; }
.light-gray.color-chip { background-color: $light-gray; }
.border.color-chip { background-color: $border; color: $dark-gray; }


/*--- 타이포그래피 ---*/

.typo {
  &-headline {
    min-height: 120px;
    padding: 25px;
    background-color: #f7f7f7;
    // @include border-radius(6px);
    &-wrapper:first-child { padding: 0; padding-right: 20px; }
    &-wrapper { padding: 0 10px; }
    &-wrapper:last-child { padding: 0; padding-left: 20px; }
  }
  &-content {
    font-weight: 700;
    color: $black;
  }
  &-description {
    position: absolute;
    bottom: 25px;
    font-size: 13px;
    font-weight: 300;
    color: $medium-gray;
  }
  &-body > p { font-weight: 300; }
  &-body {
    min-height: 135px;
    padding: 25px 18px;
    background-color: #f7f7f7;
    &-wrapper:first-child { padding: 0; padding-right: 20px; }
    &-wrapper { padding: 0 10px; }
    &-wrapper:last-child { padding: 0; padding-left: 20px; }
  }
}



/*******************************
           타이포그래피
*******************************/

.body1 { font-size: 14px; }
.body2 { font-size: 13px; }
.caption { font-size: 12px; }



/*******************************
              버튼
*******************************/

/*--------------
      스타일
---------------*/

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 24px;
  outline: none;
  border: none;
}

.ghost.button {
  background-color: transparent;
}

/*--------------
       색상
---------------*/

/*--- Green ---*/

.green.button {
  background-color: $green;
  color: $white;
}
.green.button:hover { background-color: $hover-green; }
.green.button:active { background-color: $press-green; }

/* Ghost */

.ghost.green {
  background-color: transparent;
  border-color: $green;
  color: $green;
}
.ghost.green:hover {
  background-color: transparent;
  border-color: $hover-green;
  color: $hover-green;
}

.ghost.green:active {
  background-color: transparent;
  border-color: $press-green;
  color: $press-green;
}

/*--------------
       크기
---------------*/

/*--- Basic ---*/

.extralarge.button {
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  @include border-radius(6px);
}

.large.button {
  height: 44px;
  font-weight: bold;
  font-size: 14px;
  @include border-radius(6px);
}

.medium.button {
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  @include border-radius(6px);
}

.small.button {
  height: 26px;
  font-weight: bold;
  font-size: 12px;
  @include border-radius(6px);
}

.extrasmall.button {
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  @include border-radius(6px);
}

/*--- Ghost ---*/

.ghost.extralarge { border: 2px solid; }
.ghost.large { border: 2px solid; }
.ghost.medium { border: 2px solid; }
.ghost.small { border: 1px solid; }
.ghost.extrasmall { border: 1px solid; }



/*******************************
           페이지네이션
*******************************/

.pagenation {
  .active a {
    border: none;
    color: white;
    background-color: $green;
    &:hover { background-color: $hover-green; }
    &:active { background-color: $press-green; }
  }
  li a {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: $black;
    border: 1px solid $border;
    @include border-radius(16px);
    &:hover { background-color: #f5f5f5; }
  }
}

.ic-arrow_left-gray {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-position: -5px -5px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.ic-arrow_right-gray {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-position: -27px -5px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}


/*******************************
               탭
*******************************/

.tab {
  .active a {
    font-weight: 700;
    border-bottom: 2px solid $green;
    color: $green;
    &:hover { color: $hover-green; }
    &:active { color: $press-green; }
  }
  .disabled a {
    color: $light-gray;
    &:hover { color: $light-gray; }
  }
  display: inline-block;
  float: left;
  height: 48px;
  border-bottom: 1px solid $border;
  li {
    float: left;
    margin: 0 14px;
  }
  li a {
    display: inline-block;
    height: 48px;
    padding: 0 10px;
    color: $dark-gray;
    line-height: 44px;
    &:hover { color: $black; }
  }
}










