
  /*--- Pagination ---*/
  .pagination-style ul {
    list-style:none;
    float: left;
    display:inline;
  }
  .pagination-style ul li {
    float: left;
  }
  .pagination-style ul li a {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px #dedede solid;
    background: none;
    font: 14px;
    text-align: center;
    color: #222;
    padding: 10px;
    margin-right: 6px;
  }
  .pagination-style .pagination li a:hover {
    background: #f5f5f5;
  }
  .pagination-style ul li .active {
    border: none;
    background: #4adaaf;
    color: #fff;
    font-weight: bold;
  }
  .pagination-style ul li .active:hover {
    border: none;
    background: #42c49d;
    color: #fff;
    font-weight: bold;
  }
  .pagination-style ul li .arrow-right {
    color:#999;
  }

  /*--- TAB ---*/
  div.tab-style {
    margin-top: 40px;
  }
  .tab-style ul {
    list-style:none;
    float: left;
    display: inline;
    background: #fff;
    height: 48px;
    border-bottom: 1px #dedede solid;
  }
  .tab-style ul li {
    height: 48px;
    float: left;
    vertical-align: center;
    margin: 0 14px 0 14px;
  }
  .tab-style ul li.active {
    border-bottom: 2px #4adaaf solid;
  }
  .tab-style ul li.active a {
    font-weight: bold;
    color:#4adaaf;
  }
  .tab-style ul li a.disalble {
    color:#ccc;
    pointer-events: none;
    cursor: default;
  }
  .tab-style ul li.active a:hover {
    color: #42c49d;
  }
  .tab-style ul li a {
    position: relative;
    top:50%;
    height: 48px;
    float: left;
    padding:  0 10px 0 10px;
    font: 14px;
    color: #666;
    line-height: 0em;
    vertical-align: center;
    text-align: center;
    background: none;
  }
  .tab-style ul li a:hover {
    color:#222;
  }
